{% extends 'includes/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
  <script src="https://kit.fontawesome.com/003f491bf9.js" crossorigin="anonymous"></script>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="#">
              <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                </path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item">Tasks</li>
          <li class="breadcrumb-item active" aria-current="page">All</li>
        </ol>
      </nav>
      <h2 class="h4">All Tasks</h2>
      <p class="mb-0">Every task of every company worker.</p>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <a href="{% url 'planner:task-create' %}" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        New Task
      </a>
    </div>
  </div>
  <div class="table-settings mb-4">
    <div class="row align-items-centers justify-content-between">
      <div class="col col-md-6 col-lg-3 col-xl-4">
        <form action="" method="get" class="input-group me-2 me-lg-3 fmxw-400">
          <button class="input-group-text" type="submit">
            <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
          {% csrf_token %}
          {{ search_form.name|add_class:"form-control" }}
        </form>
      </div>
    </div>
    <form action="" method="get" id="user_task_form" class="mt-2">
      {% csrf_token %}
      {{ user_task_form.find_my_task|add_class:"form-check-input" }}
      <label class="form-check-label" for="id_find_my_task">
        Only my tasks
      </label>
    </form>
    <script>
        document.getElementById('id_find_my_task').addEventListener('change', function() {
            document.getElementById('user_task_form').submit();
        });
    </script>
  </div>
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="border-gray-200">#</th>
          <th class="border-gray-200">Name</th>
          <th class="border-gray-200">Deadline</th>
          <th class="border-gray-200">Is completed?</th>
          <th class="border-gray-200">Priority</th>
          <th class="border-gray-200">Task type</th>
        </tr>
      </thead>
      <tbody>
        {% for task in task_list %}
          <tr>
            <td>
              <span class="fw-normal">{{ task.id }}</span>
            </td>
            <td>
              <a href="{% url "planner:task-detail" task.id %}" class="fw-bold">
                {{ task.name }}
              </a>
            </td>
            <td>
              <span class="fw-normal">{{ task.deadline|date }}</span>
            </td>
            <td>
              {% if task.is_completed %}
                <span class="fw-normal" style="color: green">Completed</span>
                {% elif task.deadline.date < today.date %}
                <span class="fw-normal" style="color: red;">Failure</span>
                {% else %}
                  <span class="fw-normal">In progress</span>
              {% endif %}
            </td>
            <td>
              <span class="fw-normal" style="color:
                {% if task.priority == 'Low' %}
                    green
                {% elif task.priority == 'Medium' %}
                  #4c8eef
                {% elif task.priority == 'High' %}
                    orange
                {% elif task.priority == 'Urgent' %}
                    red
                {% endif %}
            ">
                {{ task.priority }}</span>
            </td>
            <td>
              <span class="fw-normal">{{ task.task_type }}</span>
            </td>
            <td>
              <div class="btn-group">
              <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="icon icon-sm">
                  <span class="fas fa-ellipsis-h icon-dark"></span>
                </span>
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu py-0">
                <a class="dropdown-item rounded-top" href="{% url 'planner:task-change_to_completed' task.id %}"><span class="fas fa-check"></span>Mark as completed</a>
                <a class="dropdown-item rounded-top" href="{% url 'planner:task-detail' task.id %}"><span class="fas fa-eye me-2"></span>View Details</a>
                <a class="dropdown-item" href="{% url 'planner:task-update' task.id %}"><span class="fas fa-edit me-2"></span>Edit</a>
                <a class="dropdown-item text-danger rounded-bottom" href="{% url 'planner:task-delete' task.id %}"><span
                    class="fas fa-trash-alt me-2"></span>Remove</a>
              </div>
            </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'includes/pagination.html' %}
  </div>

{% endblock content %}